[project]
name = "pixi-pycharm"
version = "0.1.0"
description = "Conda shim for PyCharm that proxies pixi"
authors = ["Pavel Zwerschke <pavelzw@gmail.com>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "linux-aarch64", "osx-64"]

[tasks]
copy-file = "mkdir -p .pixi/envs/$PIXI_ENVIRONMENT_NAME/libexec && rm -f .pixi/envs/$PIXI_ENVIRONMENT_NAME/libexec/conda && cp conda .pixi/envs/$PIXI_ENVIRONMENT_NAME/libexec/conda"
test = {cmd = "pytest tests.py", depends_on = ["copy-file"]}
lint = "ruff check --fix"
lint-check = "ruff check"
fmt = "ruff format"
fmt-check = "ruff format --check"

[dependencies]
pytest = "*"
ruff = ">=0.3.2,<0.4"

[feature.py39.dependencies]
python = "3.9.*"
[feature.py310.dependencies]
python = "3.10.*"
[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"

[environments]
py39 = ["py39"]
py310 = ["py310"]
py311 = ["py311"]
py312 = ["py312"]
