[project]
name = "pixi-pycharm"
version = "0.0.10"
description = "Conda shim for PyCharm that proxies pixi"
authors = ["Pavel Zwerschke <pavelzw@gmail.com>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "linux-aarch64", "osx-64", "win-64"]

[tasks]
test = "pytest"
lint = "ruff check --fix"
lint-check = "ruff check"
fmt = "ruff format"
fmt-check = "ruff format --check"

[dependencies]
python = ">=3.8"
pytest = "*"
ruff = "*"

[feature.pixi.dependencies]
pixi = "*"
[feature.py38.dependencies]
python = "3.8.*"
[feature.py312.dependencies]
python = "3.12.*"
[feature.pixi019.dependencies]
pixi = "0.19.*"
[feature.pixi024.dependencies]
pixi = "0.24.*"

[environments]
default = ["pixi"]
py38-pixi019 = ["py38", "pixi019"]
py38-pixi024 = ["py38", "pixi024"]
py312-pixi019 = ["py312", "pixi019"]
py312-pixi024 = ["py312", "pixi024"]
