name: CI
on:
  push:

jobs:
  tests:
    name: Tests
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        environment: ['py39', 'py312']
        os: ['ubuntu-latest', 'macos-latest']
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.5.1
        with:
          environments: ${{ matrix.environment }}
      - run: pixi run copy-file
      - run: pixi run test
      - run: XDG_CACHE_HOME= pixi run test
