name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Tests
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        environment: ['py39', 'py312']
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.5.1
        with:
          environments: ${{ matrix.environment }}
      - run: pixi run lint-check
      - run: pixi run fmt-check
      - run: pixi run test
        env:
          XDG_CACHE_HOME: ${{ runner.temp }}
      - run: pixi run test
        env:
          XDG_CACHE_HOME: ""
